cloud_id                 = "***"
folder_id                = "***"
zone                     = "ru-central1-a"
region                   = "ru-central1"
image_id                 = "***"
public_key_path          = "~/.ssh/appuser.pub"
private_key_path         = "~/.ssh/appuser"
subnet_id                = "***"
service_account_key_file = "~/key/terraform_key.json"
instances_count          = "1"
app_disk_image           = "***"
db_disk_image            = "***"
access_key               = "***"
secret_key               = "***"
bucket                   = "dberezikov-bucket"
endpoint                 = "storage.yandexcloud.net"
app_instance_name        = "reddir-app-stage"
db_instance_name         = "reddir-db-stage"
